doc/
data/
pics/
poster/
videos/
inc/dg/doc/
inc/toefl/doc/
inc/file/doc/
src/feltor/doc/
*.sh
*_b
*_t
*_mpib
*_mpit
*.nc
*.py
*.in
*.out
*.dat
*.eps
*.swp
*.txt

# Emacs temporary/backup
*~
.#*
\#*

# GNU Global
**/GPATH
**/GRTAGS
**/GSYMS
**/GTAGS

# compile objects
*.o
toefl_hpc
toeflI
toeflR
toefl_mpi
toeflRdiag
imp2vis
impRdiag

# astyle
*.orig

# performance analyse
*.data
*.out
*.*[0-9]
*.prof

# temporary
*.old
