# https://stackoverflow.com/questions/5711120/gitignore-binary-files-that-have-no-extension
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore certain directories

doc/dg
doc/exblas
doc/file
doc/geometries
doc/matrix
doc/index.html

# ignore visual studio .vs table
/.vs

# Ignore Latex docu
*/_minted-*

# Ignore files with certain extension
*.o
*.tag
*.sh
*.nc
*.py
*.in
*.out
*.dat
*.eps
*.swp
*.txt
*.pdf
*.aux
*.blg
*.bbl
*.log
*.toc
*.png
*.pvsm
*.bak
*.info
*.csv
*.json
*.js
*.ipynb
## From _minted
*.pygtex
*.pygstyle

# CMake, modified from https://github.com/github/gitignore/blob/main/CMake.gitignore
!CMakeLists.txt
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
vcpkg_installed
