doc/
data/
pics/
poster/
videos/
inc/dg/doc/
inc/toefl/doc/
inc/file/doc/
src/feltor/doc/
*.sh
*_b
*_t
*_mpib
*_mpit
*.nc
*.py
*.in
*.out
*.dat
*.eps
*.swp
*.txt
*.pdf
*.aux
*.log
*.png
*.pvsm
*.bak

# CMake, modified from https://github.com/github/gitignore/blob/main/CMake.gitignore
!CMakeLists.txt
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
